.selectButton {
    text-align: center;
    background-color: black;
    width: 22%;
    padding: 10px;
    color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.selectButton:hover {
    background-color: #FF9900;
    color: black;
}